body {
    background-color: #9DBEBB;
}

h1 {
    color: #5F7371;
    font-size: 45px;
    text-align: center;
}

hr {
    color: #5F7371;
}

a {
    color: #5F7371;
}

.enlace-personalizado {
    color: #5F7371;
}
