body { background-color:#9DBEBB;
     } 

h1 {color: #031926;
     font-family:"display-font";
     font-size: 45px; ;
     text-align: center;
}

hr {color:#031926;
}

a {
    color: #031926;
}

#class="enlace-personalizado" {
    color: #031926;
}